
*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}

.flex
{
    display: flex;
}
.logo img
{
    width: 5rem;
}

/* ******************Nav***************** */
.upper-nav
{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}

.upper-nav .img img
{
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}
.upper-nav .profile
{
    align-items: center;
}

.upper-nav .dropdown
{
    margin: 0rem 1rem;
}


.lower-nav 
{
    width:100%;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    text-decoration: none;
    color: white;
    cursor: default;
}
.lower-nav .links
{
      list-style: none; 
      display: flex; 
}
.lower-nav .links .link
{
    
     font-size: 1.2rem;
     padding: 1rem 1.5rem;
}
.lower-nav .links .link:hover
{
    /* background: white; */
    transition: 0.8s;
    border-radius: 2rem;
    background: #225577;
}
/* ******************Nav End***** */




/* Sections*********** */

.details-section
{

    padding-left: 2rem;
    /* background: slateblue; */
    max-width: 45%;
    border-right: 1px solid black;
}
.details-section .flex
{
    margin: 2rem 1.5rem;
}
.details-section .flex input
{
    border-radius: 5px;
    border:1px solid rgb(156, 156, 156);
    margin: 0rem 1rem;
}
.details-section .flex .p-age
{
    width: 3rem;
}


.d-text-area
{
    margin: 1rem;
}




.medicine-section
{
    padding-left: 2rem;
  /* background: slateblue; */
  width: 27%;
  border-right: 1px solid black;
}

.drug-name
{
    border-radius: 5px;
    border:1px solid rgb(156, 156, 156);

}
.m-section
{
    margin: 2rem 0rem;
}
.m-section input
{
    margin: 0rem 1rem;
    height: 2rem;
}







.clinic-pharmacy
{
  padding-left: 2rem;
}
/* Sections End */



.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    background-color: var(--container-color);
    border-radius: .25rem;
    padding: .45rem;
    opacity: 9;
    z-index: var(--z-tooltip);
    transition: .4s;
  }
  
  .scrollup:hover {
    background-color: var(--black-color);
    opacity: 1;
  }
  
  .scrollup__icon {
    color: var(--white-color);
    font-size: 1.35rem;
  }
  
  /* Show Scroll Up*/
  .show-scroll {
    bottom: 5rem;
  }
  
  /*=============== SCROLL BAR ===============*/
  ::-webkit-scrollbar {
    width: .60rem;
    border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-thumb-color-alt);
  }







.footer__copy
{
    cursor: default;
    margin-top: 5rem;
    text-align: center;
    color: #8b8686;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

}
  
  .footer__copy-link {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    text-decoration: none;
  }
  .footer__copy-link:hover
  {
      color: white;
  }